.title {
    background-color: rgb(165, 248, 219);
}

.body {
    background-image: url("Soramaroブログ\image.jpg");
    background-size: cover;
}

.Article:hover {
    color: rgb(165, 248, 219);
}